body
{
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	background-color: hsl(0, 0%, 98%);
	color: hsl(229, 6%, 66%);
}

h1
{
	font-size: 28px;
	font-weight: 600;
	color: hsl(234, 12%, 34%);
	margin: 0;
}

h2
{
	font-size: 28px;
	font-weight: 200;
	color: hsl(234, 12%, 34%);
	margin: 0;
}

h3
{
	font-size: 20px;
	font-weight: 400px;
	color: hsl(234, 12%, 34%);
}

header
{
	width: 38%;
	margin: 0 auto;
	text-align: center;
	padding: 30px 0px;
}


section
{
	background-color: white;
	border-radius: 5px;
	padding: 0px 32px;
	margin: 15px;
	box-shadow: 0px 5px 12px 5px rgba(65,66,73,0.2);
	width: 320px;
	height: 250px;
}

section img
{
	float: right;
	margin-top: 20px;
}

.supervisor
{
	border-top: solid hsl(180, 62%, 55%);
}

.teamBuilder
{
	border-top: solid hsl(0, 78%, 62%);

}

.karma
{
	border-top: solid hsl(34, 97%, 64%) ;
	margin-top: 30px;
}

.calculator
{
	border-top: solid hsl(212, 86%, 64%) ;
}

.container
{
	display: flex;
	align-items: center;
	justify-content: center;
}

footer
{
	font-size: 10px;
}

@media all and (max-width: 768px)
{
	header
	{
		width: auto;
		margin: 30px 30px 0px 30px;
	}

	body
	{
		font-size: 14px;
	}

	h1
	{
		font-size: 22px;
	}

	h2
	{
		font-size: 22px;
	}

	h3
	{
		font-size: 18px;
	}

	.container
	{
		flex-direction: column;
	}




}

@media all and (max-width: 425px)
{

section
	{
		width: 70%;
		margin: 15px auto;
	}



}

